@tailwind base;
@tailwind components;
@tailwind utilities;

.no_highlights {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.adventPro {
  font-family: var(--font-advent-pro);
}

.belleza {
  font-family: var(--font-belleza);
}

.capriola {
  font-family: var(--font-capriola);
}

.caudex {
  font-family: var(--font-caudex);
}

.cinzelDecorative {
  font-family: var(--font-cinzel-decorative);
}

.dmSans {
  font-family: var(--font-dm-sans);
}

.federo {
  font-family: var(--font-federo);
}

.kronaOne {
  font-family: var(--font-krona-one);
}

.roboto {
  font-family: var(--font-roboto);
}

.spaceGrotesk {
  font-family: var(--font-space-grotesk);
}

.syne {
  font-family: var(--font-syne);
}

.italiana {
  font-family: var(--font-italiana);
}
